body {
    font-family: 'Poppins';
    height: auto;
    width: cover;
}

nav ul li {
    display: inline;
    padding-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    margin-left: 100px;
    color: #000000;
    background-color: #FF7300;
    color: black;
    border-radius: 20px;
}
.logo:hover{
    background-color: #FF7300;
    color: whitesmoke;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    margin-right: 30px;
    color: #FF7300;
     

}
nav {
    display: flex;
    justify-content: space-between;
}

.header-container {
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: #FF7300;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}
.header-container:hover{
    background-color: #FF7300;
    color: whitesmoke;
}

.web-title {
    font-size: 90px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cc-title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.cc-content{
    font-size: 17px;
    font-family:  Arial, Helvetica, sans-serif;
    color: #000000;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 20px;
    margin-top: 40px;
     
}

.text-content {
    display: flex;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
}

.bg-dark {
    background-color: #232323;
    color: #ffffff;
    border-radius: 20px;

}
.bg-dark:hover{
    background-color: #FF7300;
    color: black;

}
.section-title {
    font-size: 58px;
    color: #ffffff;
}
.cards{
    margin-top: 30px;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px;

}
.cards:hover{
    background-color: #FF7300;
    color: whitesmoke;
}
.section-header{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
 .image-content{
     margin-top: 30px;
     margin-bottom: 20px;
     margin-left: -40px;
 }
 .section-content{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .container-3{
    margin-top: 50px;
    background-color: white;
    height:  1029.4px;
    width: cover;
    padding: 115px;
    border-radius: 20px;
    
 }
 .c-3heading{
       font-size: 58px;
       font-family: Arial, Helvetica, sans-serif;
        
 }
 .img{
    display: inline-flex;
     
 }
 .image{
    height: 600px;
    width: 400px;
    margin: 10.6px;
     
 }
  .container-3 div a{
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container-3:hover{
    background-color: #FF7300;
    color: #ffffff;
  }
.container-4{
    margin-top: 50px;
    background-color: white;
    height:  auto;
    width: cover;
    text-align: center;
    padding: 10%;
}
.c-4social-link{
    border-radius: 5px;
    gap: 30px;
}
.container-4{
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
}
.container-4:hover{
    background-color: #FF7300;
    color: #ffffff;
}
.container-5{
    margin-top: 50px;
    background-color: #ffffff;
    height: 321.6px;
    width: 1503.9px;
    display: inline-flex;
}
